!!! 5
%html
%head

%body
	.divfold50
		%h2 About Us
		Galeyr IT is a locally incorporated company offering a wide range of computing products and custom application and Solutions. We are a certified firm specializing in managed services for commercial and government clients of all sizes. A full-service integration and engineering firm, we provide the small to enterprise-level business client with maximum performance, infinite scalability, and rock- solid security solutions for complex networking projects. Our reputation for excellence in the networking arena and intelligence community is unsurpassed. We listen to and learn the client’s business from the inside out in order to provide scalable solutions, within budget, to support their needs and expectations. Our team has decades of experience in consulting, design, installation, and service. We offer a complete range of solutions including consulting, analysis, and design through implementation and support.
	
	.divfold50 
		%h2 Our Mission  
		Here at Galeyr IT we add value and to contribute to our clients' long term success and competitive strength. This is accomplished by helping clients to identify solutions that improve performance, by assisting in implementing those solutions and by aiding in managing the subsequent change.
		We also believe that the success of every project will be determined by the consideration given during the selection of a competent vendor. We possess proven ability to deliver and are committed to providing quality products. Check out our various services

